.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background: white;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__container_type_preview {
  /* padding: 0; */
  margin: 0;
  background-color: rgba(33, 33, 33, 0.6);
}

.modal__image-container {
  padding: 0;
  position: relative;
}

.modal__image {
  /* width: 100%; */
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 5px;
  overflow: hidden;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/closebutton.jpg);
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  background-image: url(../images/close-icon-preview.svg);
  top: 0;
  right: -52.5px;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: transparent;
  opacity: 40%;
  border-width: 1px;
  border-color: #212121;
  color: #212121;
  border-style: solid;
}

.modal__input:hover {
  opacity: 1;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: rgba(33, 33, 33);
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__caption {
  /* display: inline-block; */
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  background: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 4px 8px;
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: calc(100% + 10px);
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn_type_preview {
    top: -51px;
    right: 0;
  }

  .modal__image {
    max-width: 100%;
  }

  .modal__caption {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
  }
}
